Controls/bin/
Controls/obj/
Controls.Droid/bin/
Controls.Droid/obj/
Controls.iOS/bin/
Controls.iOS/obj/
Converters/
packages/
Controls.Test/Controls.Test/bin/
Controls.Test/Controls.Test/obj/
Controls.Test/Controls.Test.Android/bin/
Controls.Test/Controls.Test.Android/obj/
Controls.Test/Controls.Test.iOS/bin/
Controls.Test/Controls.Test/iOS/obj/
Controls.Test/Controls.Test.UWP/
.vs/